<center><img src="img/logo.png" width="400px"></center>
<hr/>
<h2>What is ComposeUp?</h2>
<p>
ComposeUp is a browser based software, create to manage important documentation like <b>Pay Order Letter, Pay Order Cancellation</b> and many other things, but the main feature  is <b>GST Return</b> section which is dynamically calculate GDs information and create monthly Summary frequently by just few clicking.
</p>

This software is created by the combination of many technologies, list of these technologies are as following.
<ul>
	<li>HTML5 for creating structure)</li>
	<li>CSS3 (use for visibility and all the major graphic)</li>
	<li>Bootstrap (use for template like font and table styling)</li>
	<li>JavaScript (the main programming language for this software is JavaScript)</li>
	<li>JOSN (use to creating accounts listing)</li>
	<li>AngularJS (it's JS library, use to manage routing system, controllers, modules, services etc.)</li>
	<li>PHP5 (this is use to make it server side for the security purpose, and also connecting to database)</li>
	<li>MySQL (this is main Database to holds all data you have created)</li>
</ul>